@page "/"
@using API_PROJECT.Models
@inject HttpClient Http

<h3>Categories</h3>



@code {
    private List<Categories> myDataList = new List<Categories>();

    protected override async Task OnInitializedAsync()
    {
        try{
            var response = await Http.GetAsync("https://localhost:7016/api/Categories");

            if (response.IsSuccessStatusCode)
            {
                if (response.StatusCode == System.Net.HttpStatusCode.OK)
                {
                    myDataList = await response.Content.ReadFromJsonAsync<List<Categories>>();


                }
                else
                {
                    Snackbar.Add("emplty list", Severity.Error);
                   
                }
            }
            else
            {
                Snackbar.Add("Something went wrong", Severity.Error);
            }
        }catch(Exception ex){
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
