@page "/Wishlist"
@layout MainLayout

<MudAppBar Elevation="0" Dense="true" Style="background-color:ghostwhite;padding-top:8px">

    <MudIconButton OnClick="@(()=>naviagte.NavigateTo("/"))" Style="margin-right:8px" Icon="@Icons.Material.Rounded.KeyboardBackspace" Color="Color.Dark" Edge="Edge.End" />

    <MudText Typo="Typo.h6" Color="Color.Dark">
        Wishlist
    </MudText>
    <MudSpacer />

    <Relay_Blazor_Hybrid.Shared.notifications.Wishlistnotification />
    <Relay_Blazor_Hybrid.Shared.notifications.Menu />

</MudAppBar>


<div class="container-fluid">
    <div style="margin-left:16px;margin-right:16px">
        <MudTextField Placeholder="Search" Margin="Margin.Dense" T="string" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="rounded-pill" />

    </div>

    @for (var i = 0; i < 5; i++)
    {
        <MudPaper Elevation="25" Style=";padding:8px;border-radius:16px;margin-top:8px">
            <div class="horizontal-container">
                <MudImage Src="Images/coisalogo.jpg" Height="50" Width="50" Alt="kili" Class="rounded-lg ma-1  " />
                <div style="width:100%;">
                   

                      <div class="horizontal-container">
                      <div>
                               <MudText  Typo="Typo.body2">Nike Lebron 8  fgsaf</MudText>
                    
                        <MudText Typo="Typo.body1" Style="color:darkorange">KES 1,200 </MudText>
                      </div>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Default" />

                    </div>

                </div>
            </div>

        </MudPaper>
    }
  

    <style>
        .horizontal-container {
            display: flex;
            justify-content: space-between;
            gap: 8px;
        }


    </style>



</div>

<Relay_Blazor_Hybrid.Shared.bottomnavigation.Bottom_Main_App_Bar />

@code {

}
