<div style="text-align:center;margin-top:16px">
    <MudAvatar Style="height:70px; width:70px; font-size:2rem;" Color="Color.Primary">A</MudAvatar>
    <MudText Typo="Typo.h5" Class="px-4 mt-3 text-capitalize">Coisa Computers</MudText>
    <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Electronics Shop</MudText>
</div>
<MudTimeline TimelineOrientation="TimelineOrientation.Horizontal" TimelineAlign="TimelineAlign.Start" DisableModifiers=false>
    <MudTimelineItem DotStyle="background-color: black">

    </MudTimelineItem>
    <MudTimelineItem DotStyle="background-color: black">
    </MudTimelineItem>

</MudTimeline>


<MudTextField @bind-Value="TextValue" Style="background-color:#F6F6F6"   Label="Address" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>


<MudTextField @bind-Value="TextValue" Style="background-color:#F6F6F6"  Label="website" Variant="Variant.Text" Margin="Margin.Dense">

</MudTextField>


<MudTextField @bind-Value="TextValue" Style="background-color:#F6F6F6"  Label="Facebook" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>


<MudTextField @bind-Value="TextValue" Style="background-color:#F6F6F6" Label="X"  Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>


<MudTextField @bind-Value="TextValue" Style="background-color:#F6F6F6" Label="Instagram" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>



@code {
    string TextValue = "";
      }