@page "/CompleteProfile_one"
@layout RetailShopLayout

<div class="container-fluid" style="margin-bottom:60px">

    <div style="text-align:center;margin-top:16px">
        <MudAvatar Style="height:70px; width:70px; font-size:2rem;" Color="Color.Primary">A</MudAvatar>
        <MudText Typo="Typo.h5" Class="px-4 mt-3 text-capitalize">Coisa Computers</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Electronics Shop</MudText>
    </div>
    <Relay_Blazor_Hybrid.Pages.Shops.ShopInformation.AdvancedInfo />
</div>

@code
{
    string TextValue = "";
}