@page "/CompleteProfile_one"
@layout RetailShopLayout

<div class="container-fluid" style="margin-bottom:60px">


 
    @if (isBasic){
            <Relay_Blazor_Hybrid.Pages.Shops.ShopInformation.BasicInfo />

    }else{
                <Relay_Blazor_Hybrid.Pages.Shops.ShopInformation.AdvancedInfo />

    }
    <div style="padding:8px;text-align:end;margin:8px">
        <MudFab OnClick="ChangeLayout_Next" Size="Size.Small" EndIcon="@Icons.Material.Filled.NavigateNext" Color="Color.Warning" Label="@ButtonText" />
    </div>
</div>

@code
{
    bool isBasic = true;
    string ButtonText = "Next";
    void ChangeLayout_Next(){
        isBasic = false;
        ButtonText = "Finish";
    }
    string TextValue = "";
}